apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: spinbot
  namespace: spinbot
spec:
  schedule: "*/5 * * * *"
  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 120
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        spec:
          containers:
          - name: spinbot
            image: us-docker.pkg.dev/spinnaker-community/spinbot/spinbot:master-latest
            imagePullPolicy: Always
            volumeMounts:
            - name: config
              mountPath: /home/spinbot/.spinbot
            - name: token
              mountPath: /home/spinbot/github
            - name: gcs-creds
              mountPath: /home/spinbot/credentials
          restartPolicy: Never
          volumes:
          - name: config
            configMap:
              name: config
          - name: token
            secret:
              secretName: token
          - name: gcs-creds
            secret:
              secretName: gcs.creds

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: spinbot
data:
  config: |
    github:
      token_path: /home/spinbot/github/token

    logging:
      level: INFO

    storage:
      gcs:
        bucket: spinnaker-bot-cache
        project: spinnaker-build
        path: cache
        json_path: /home/spinbot/credentials/account.json

    policy:
      repos:
      - spinnaker/spinnaker
      - spinnaker/spinnaker.github.io
      - spinnaker/deck-kayenta
      - spinnaker/kayenta
      - spinnaker/keel
      policies:
      - name: stale_issue_policy

    event:
      repos:
      - spinnaker/spinnaker
      - spinnaker/spinnaker.github.io
      - spinnaker/clouddriver
      - spinnaker/deck
      - spinnaker/deck-kayenta
      - spinnaker/echo
      - spinnaker/fiat
      - spinnaker/front50
      - spinnaker/gate
      - spinnaker/igor
      - spinnaker/kayenta
      - spinnaker/keel
      - spinnaker/spinnaker-monitoring
      - spinnaker/orca
      - spinnaker/rosco
      - spinnaker/halyard
      - spinnaker/spin
      - spinnaker/kork
      handlers:
      - name: label_issue_comment_event_handler
      - name: issue_comment_assign_handler
      - name: log_event_handler
        config:
          payload: false
      - name: pull_request_message_handler
      - name: filetype_check_pull_request_handler
        config:
          omit_repos: 
          - spinnaker/spinnaker
          - spinnaker/spinnaker.github.io
          - spinnaker/deck
          - spinnaker/spin
      - name: release_branch_pull_request_handler
        config:
          omit_repos: 
          - spinnaker/spinnaker
          - spinnaker/spinnaker.github.io
      - name: master_branch_pull_request_handler
        config:
          omit_repos: 
          - spinnaker/spinnaker
          - spinnaker/spinnaker.github.io
      - name: pull_request_closed_event_handler
